{% extends 'pages/base.html' %}

{% block title %}Posts{% endblock %}

{% block content %}
    <h2 class="text-2xl font-bold mb-4">Posts</h2>
    <nav>
        <a style="padding: 0 20px;" href="{% url 'logout' %}">Sair</a>
    </nav>
    <ul class="space-y-4">
        {% for post in posts %}
            <li class="bg-white p-4 rounded shadow">
                <h3 class="text-xl font-semibold">
                    <a href="{% url 'post_detail' post.id %}">
                        {{ post.titulo }}
                    </a>
                </h3>
                <p class="text-gray-600">
                    {{ post.criado_em }}
                </p>
            </li>
        {% empty %}
            <p>Nenhum post cadastrado.</p>
        {% endfor %}
    </ul>
{% endblock %}